<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="35" fxFlex.xs="100%" fxFlex.sm="33%">
    <mat-card class="cat-elevation-z4">
      <mat-card-header>
        <h1><b>ID: </b> {{photoId}}</h1>
      </mat-card-header>
      <img mat-card-image src="assets/images/developer.jpg">
      <mat-card-content>
        <mat-card-actions>
          <h1><b>albumId: </b> {{photoDTO?.albumId}}</h1>
          <h1><b>Title: </b> {{photoDTO?.title}}</h1>
          <h1><b>Url: </b> {{photoDTO?.url}}</h1>
          <h1><b>ThumbnailUrl: </b> {{photoDTO?.thumbnailUrl}}</h1>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
  </div>
</div>
