<mat-toolbar class="mat-elevation-z2" color="secondary">
  <span [routerLink]="['/']">
      <mat-icon >home</mat-icon>
      Home
  </span>
  <div class="spacer"></div>

  <a mat-button *ngFor="let navitem of navigationItems" [routerLink]="navitem.routerLink" routerLinkActive="active">
    {{ navitem.title }}
  </a>

  <span fxFlex="192px">
    {{ loginData?.name }}
  </span>

</mat-toolbar>

<div>
  <span fxFlex="274px">
    <!-- <user-data></user-data> -->
    <app-sidebar [novinavigationItems]="navigationItems"></app-sidebar>
  </span>
  <span fxFlex="calc(100% - 274px)">
    <router-outlet></router-outlet>
  </span>
 </div>

 <!-- <mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <button (click)="showFiller = !showFiller" mat-raised-button>
      Toggle extra text
    </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>

</mat-drawer-container> -->

