<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let photo of photosList |
    paginate: {
      itemsPerPage: 20,
      currentPage: page,
      totalItems: totalLength
    }">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>ID: {{photo.id}}</mat-card-title>
        </mat-card-header>
<img mat-card-image src="assets/images/developer.jpg">
  <mat-card-content>
      <h1><strong>Title:</strong>{{photo.title}}</h1>
    <mat-card-actions>
      
      <div>
      <h1>URL:{{photo.url}}</h1>
      <h1>thumbnailUrl:{{photo.thumbnailUrl}}</h1>
      </div>

         <button mat-button color="primary" (click)="navigate(photo)">Details</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
    </div>
    </div>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>

