<mat-toolbar class="mat-elevation-z2" color="secondary">
  <span [routerLink]="['/']">
      <mat-icon >home</mat-icon>
      Home
  </span>

  <div class="spacer"></div>
  <a mat-button [routerLink]="['/', 'comments']" routerLinkActive="active">Comments</a>
  <a mat-button [routerLink]="['/', 'albums']" routerLinkActive="active">Albums</a>
  <a mat-button [routerLink]="['/', 'photos']" routerLinkActive="active">Photos</a>
  <a mat-button [routerLink]="['/', 'todos']" routerLinkActive="active">Todos</a>

</mat-toolbar>

<div>
  <router-outlet></router-outlet>
</div>
